
<!--Footer-->
<footer class="page-footer font-small indigo pt-0">

    <!--Footer Links-->
    <div class="container">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12 py-1">

                <div class="mb-1 flex-center">

                    <!--Facebook-->
                    <a class="fb-ic mx-1">
                        <i class="fa fa-facebook fa-lg white-text mr-md-1 mr-3 fa"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic mx-1">
                        <i class="fa fa-twitter fa-lg white-text mr-md-1 mr-3 fa"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic mx-1">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-1 mr-3 fa"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic mx-1">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-1 mr-3 fa"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic mx-1">
                        <i class="fa fa-instagram fa-lg white-text mr-md-1 mr-3 fa"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic mx-1">
                        <i class="fa fa-pinterest fa-lg white-text fa"> </i>
                    </a>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-1 text-center">
        © 2018 Copyright:
        <a href="/"> Auto-Cab </a>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->
</div>



  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>

</body>
</html>
