<% include ./partials/header.ejs %>
<div class="nav-space">
  <header>
    <h4><b>Hi, <%=currentUser.name%></b></h4>
  </header>
</div>

<hr>

<%if(currentUser.type==="driver"){%>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xms-12">

      <!--Card-->
      <div class="card card-cascade wider">

          <!--Card image-->

          <!--/Card image-->

          <!--Card content-->
          <div class="card-block text-center">
              <!--Title-->

              <h4 class="card-title"><b>Status (Ready for ride) : online <i class="fa fa-circle prefix green-text"></i></b></h4>


         </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </d

    iv>
  </div>
</div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xms-12">

      <!--Card-->
      <div class="card card-cascade wider">
          <!--Card content-->
          <div class="card-block text-center">
              <!--Title-->

              <p class="card-text"><strong>Number of students ready to depart
                 <img src="https://wiki.ewater.org.au/download/thumbnails/88932374/RunningIcons_Small.png?version=1&modificationDate=1458700802390&api=v2" style="width:10%">
               </p>

              <h4 class="card-title" id="depart">15</strong></h4>


         </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
  </div>
</div>
  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xms-12">

    <!--Card-->
    <div class="card card-cascade wider">
        <!--Card content-->
        <div class="card-block text-center">
            <!--Title-->

            <p class="card-text"><strong>Number of students booked rickshaw
              <img src="https://cdn1.iconfinder.com/data/icons/logistics-service/512/sitting_passenger-128.png" style="width:10%">
            </p>

            <h4 class="card-title" id="booked">5</strong></h4>


       </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->
</div>
  </div>


<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xms-12">

  <!--Card-->
  <div class="card card-cascade wider">

      <!--Card content-->
      <div class="card-block text-center">
          <!--Title-->

          <p class="card-text"><strong>Number of students did not book
            <img src="http://www.learningwizard.net/images/Icons/ask_icon.png" style="width:15%">
          </p>

          <h4 class="card-title" id="notBooked">10</strong></h4>


     </div>
      <!--/.Card content-->

  </div>
  <!--/.Card-->
</div>
</div>



<%}else if(currentUser.type==="passenger"){%>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xms-12">

      <!--Card-->
      <div class="card card-cascade wider">

          <!--Card image-->

          <!--/Card image-->

          <!--Card content-->
          <div class="card-block text-center">
              <!--Title-->

              <p class="card-text"><strong>Number of rickshawala(s) ready for ride :
                 <b id="rick-num">6 <i class="fa fa-bullhorn prefix black-text"></i></b>
              </p>
         </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>

  </div>
<hr>

<%for(var i = 0 ; i < 6 ;i++){%>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
      <div class="card card-cascade wider driver">
        <div class="card-block text-center">
          <h1> <i class="fa fa-user prefix black-text"> </i> Mahesh Bhai</h1>
          <h4>Status online (available) <i class="fa fa-circle prefix green-text"></i></h4>
          <p>Contact Number : 8723051340 <i class="fa fa-phone prefix black-text"></i></p>
          <button class="btn btn-default btn-primary">Book</button>
        </div>

      </div>

    </div>
  </div>
<%}%>


<hr>
<%}%>
  <center>
    <b><a href="/logout">Log me out <i class="fa fa-sign-out prefix black-text"></i></a></b>
  </center>

<% include ./partials/footer.ejs %>
