body{
  width: 360px;
  height: 640px;
  margin: auto;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
form{
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 5px 5px 5px #64b3f4;
}
#signUp{
  margin-top: 4em;
}

#logIn{
  margin-top: 10em;
}
.nav-space {
  margin-top: 5em;
}

.new-user{
  margin-top: 5em;
}

#already-user{
  margin-top : none;
}
input{
  outline: none;
}

#depart{
  color:green;
}
#booked{
  color: white;
}

#notBooked{
  color : #2a0845;
}

.card{
  background: #ffb347;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 1.5em;
}

#rick-num{
  color : green;
  font-size :1.5em;
}

.page-footer{
  margin-top: 3em;
}
.driver{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black;
}
